/* You can add global styles to this file, and also import other style files */
body
{
  background-color:#1e90ff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}